@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Nguyễn Nhật Long
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    0794913604
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:NhatLongMoble@gmail.com">NhatLongMobile@gmail.com</a><br />
</address>